{% extends "base.html" %}
{% block title %}Equity{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Binance Equity</h1>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th style="color:white">Asset</th>
                    <th style="color:white">Free</th>
                    <th style="color:white">Locked</th>
                    <th style="color:white">USD Value</th>
                </tr>
            </thead>
            <tbody>
                {% for balance in balances %}
                    <tr>
                        <td style="color:white">{{ balance.asset }}</td>
                        <td style="color:white">{{ balance.free }}</td>
                        <td style="color:white">{{ balance.locked }}</td>
                        <td style="color:white">{{ balance.usd_value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}