{% extends 'base.html' %}

{% block content %}
<style>
    #mainChartContainer {
        position: relative;
        margin: auto;
        width: 100%;
        height: 650px;
    }

    #volumeChartContainer {
        position: relative;
        margin: auto;
        width: 100%;
        height: 200px;
    }
</style>
<h1>Historical Data for {{ symbol }}</h1>
<table hidden id="historicalData">
    <tr>
        <th>Timestamp</th>
        <th>Open Price</th>
        <th>High Price</th>
        <th>Low Price</th>
        <th>Close Price</th>
        <th>Volume</th>
    </tr>
    {% for i in range(timestamps|length) %}
    <tr>
        <td>{{ timestamps[i] }}</td>
        <td>{{ open_prices[i] }}</td>
        <td>{{ high_prices[i] }}</td>
        <td>{{ low_prices[i] }}</td>
        <td>{{ close_prices[i] }}</td>
        <td>{{ volumes[i] }}</td>
    </tr>
    {% endfor %}
</table>

<div id="mainChartContainer">
    <canvas id="mainChart"></canvas>
</div>


<div id="volumeChartContainer">
    <canvas id="volumeChart"></canvas>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.getElementById("historicalData");
        if (table) {
            let data = [];
            for (let i = 1; i < table.rows.length; i++) {
                let row = table.rows[i];
                let unixTimestamp = parseFloat(row.cells[0].textContent);
                let timestamp = moment.utc(unixTimestamp).toDate();
                let open = parseFloat(row.cells[1].textContent);
                let high = parseFloat(row.cells[2].textContent);
                let low = parseFloat(row.cells[3].textContent);
                let close = parseFloat(row.cells[4].textContent);
                let volume = parseFloat(row.cells[5].textContent);

                data.push({
                    x: timestamp,
                    o: isNaN(open) ? 0 : open,
                    h: isNaN(high) ? 0 : high,
                    l: isNaN(low) ? 0 : low,
                    c: isNaN(close) ? 0 : close,
                    v: isNaN(volume) ? 0 : volume,
                });
            }
            const mainCtx = document.getElementById("mainChart").getContext("2d");
            new Chart(mainCtx, {
                type: "candlestick",
                data: {
                    datasets: [
                        {
                            data: data,
                            label: "{{ symbol }}",
                            borderColor: "rgba(255, 159, 64, 1)",
                            borderWidth: 1,
                            color: "rgba(255, 159, 64, 0.6)",
                            candleShadow: {
                                color: "rgba(255, 159, 64, 0.6)",
                            },
                            candleShadowWidth: 1,
                            shadowColor: "rgba(255, 159, 64, 0.6)",
                            shadowWidth: 1,
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        zoom: {
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                pinch: {
                                    enabled: true,
                                },
                                mode: 'x',
                            }
                        },
                        title: {
                            display: true,
                            text: "Historical Data",
                        },
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                },
                                adapter: 'moment',
                                title: {
                                    display: true,
                                    text: "Timestamp",
                                },
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: "Price",
                                },
                            },
                        },
                    },
                },
            });

            const volumeCtx = document.getElementById("volumeChart").getContext("2d");
            new Chart(volumeCtx, {
                type: "bar",
                data: {
                    labels: data.map(item => item.x),
                    datasets: [
                        {
                            label: "Volume",
                            data: data.map(item => item.v),
                            backgroundColor: "rgba(255, 159, 64, 0.6)",
                            borderColor: "rgba(255, 159, 64, 1)",
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                            },
                            adapter: 'moment',
                            title: {
                                display: true,
                                text: "Timestamp"
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: "Volume",
                            },
                        },
                    },
                },
            });
        }
    })
</script>
{% endblock %}
