{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="container container-fluid">
    <h4 class="text-center">Hello and Welcome to my Binance trading analyzer!</h4>
    <p class="lead text-left">This is an application created by one person so excuse any bugs that might appear. </p>
    <p class="text-left"> Before we continue you should know that in order to use my application you will need to provide me with an binance API key and an binance API secret key.</p>
    <p class="text-left blockquote text-danger">You should find enough documentation online on how to create a binance API key, what I am gonna suggest though for safety reasons, restrict every option other than reading!</p>
    <p class="text-left"> it should look like this!</p>
    <img src="info_picture.gif" alt="how your API management screen should look like" class="img-fluid img-rounded">
    <p class="text-left">With this application you can optimize your binance trading experience with graphs and a cumulative overview of your account</p>
    <p class="text-left">If you have any suggestions/issues feel free to contact me in: clazaridis7@gmail.com</p>
    </div>

{% endblock %}