{% extends "base.html" %}

{% block title %}Binance Flask App - Suggestion Form{% endblock %}

{% block content %}
  <div class="container">
    <h1>Suggestion Form</h1>
    <form id="suggestionForm"  method = 'POST'>
      <div class="form-group">
        <label for="suggestion">Your Suggestion:</label>
        <textarea class="form-control" name="suggestion" id="suggestion" rows="5" cols="40" required></textarea>
      </div>
      <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
      <p id="responseMessage"></p>
    </form>
  </div>
{% endblock %}